<h1>{{title}} ({{year}})</h1>
<ul class='links'>
  {% if homepage %}
    <li><a href='{{homepage}}'>Homepage</a></li>
  {% endif %}
  {% if imdb %}
    <li><a href='https://www.imdb.com/title/{{imdb}}/'>IMDb</a></li>
  {% endif %}
  {% if wikipedia %}
    <li><a href='https://en.wikipedia.org/wiki/{{wikipedia}}'>Wikipedia</a></li>
  {% endif %}
  <li><a href='index.atom'>Feed</a></li>
</ul>

<div class='synopsis'>
{{body}}
</div>

<ul class='thumbs'>
  {% for gif in page.source_set.all().order_by('published') %}
    <li>
      <a href='{{gif.path}}'>
        <img src='{{gif.path}}.tn.gif' alt=''>
        <span>{{gif.title}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
