<h1>{{title}}</h1>

<figure>
  <p class='image'><img src='/{{tokens.slug}}.gif' alt=''></p>
  <figcaption>
    <p class='url'><a href='/{{tokens.slug}}.gif'>¶</a></p>
    {% if body %}
      {{body}}
    {% else %}
      {% for caption in page.caption %}
        <p>“{{caption.text}}”</p>
      {% endfor %}
    {% endif %}
  </figcaption>
</figure>

<dl>
  <dt>Posted</dt>
  <dd>{{published.strftime('%-I:%M%p')|lower}} {{published.strftime('%A %d %B, %Y')}}</dd>
  {% if page.updated %}
    <dt>Updated</dt>
    <dd>{{updated.strftime('%-I:%M%p')|lower}} {{updated.strftime('%A %d %B, %Y')}}</dd>
  {% endif %}
  {% if page.author %}
    <dt>Creator</dt>
    {% if page.author_url %}
      <dd><a href='{{page.author_url}}'>{{page.author}}</a></dd>
    {% else %}
      <dd>{{page.author}}</dd>
    {% endif %}
  {% endif %}
  {% if page.show %}
    <dt>Show</dt>
    <dd><a href='{{page.show.path}}'>{{page.show.title}}</a></dd>
    {% if page.episode %}
      <dt>Episode</dt>
      <dd><a href='{{page.episode.path}}'>{{page.episode.title}}</a></dd>
    {% endif %}
  {% endif %}
  {% if page.agency %}
    <dt>Agency</dt>
    <dd><a href='{{page.agency.path}}'>{{page.agency.title}}</a></dd>
    <dt>Mission</dt>
    <dd><a href='{{page.mission.path}}'>{{page.mission.title}}</a></dd>
  {% endif %}
  {% if page.brand %}
    <dt>Type</dt>
    <dd><a href='{{page.parent.path}}'>{{page.parent.title}}</a></dd>
    <dt>Brand</dt>
    <dd><a href='{{page.brand.path}}'>{{page.brand.title}}</a></dd>
  {% endif %}
  {% if page.source %}
    <dt>Source</dt>
    <dd><a href='{{page.source.path}}'>{{page.source.title}}</a></dd>
  {% endif %}
  {% if page.video and page.video.url %}
    <dt>Video</dt>
    <dd><a href='{{page.video.url}}'>{{page.video.url}}</a></dd>
  {% endif %}
  {% if page.artist %}
    <dt>Artist</dt>
    <dd><a href='{{page.artist.path}}'>{{page.artist.title}}</a></dd>
  {% endif %}
  {% if tag %}
    <li class='tag'>
      <dt>Tagged</dt>
      {% for t in tag %}
        <dd><a href='{{ path("tag-index", tag=t) }}'>{{t}}</a></dd>
      {% endfor %}
    </li>
  {% endif %}
  {% if info.filesize %}
    <dt>Size</dt>
    <dd>{{info.size}}</dd>
    <dt>File size</dt>
    <dd>{{info.filesize}}</dd>
    <dt>Frames</dt>
    <dd>{{info.frames}}</dd>
    <dt>Colours</dt>
    <dd>{{info.colours}}</dd>
    <dt>Time</dt>
    <dd>{{info.time}}</dd>
  {% endif %}
</dl>
