<h1>{{title}}</h1>
<p class='subhead'>
  {% if video %}
    A <a href='https://www.youtube.com/watch?v={{video}}'>YouTube video</a>.
  {% elif playlist %}
    A <a href='https://www.youtube.com/playlist?list={{playlist}}'>YouTube playlist</a>.
  {% endif %}
</p>

<div class='synopsis'>
{{body}}
</div>

<ul class='thumbs'>
  {% for gif in page.source_set.all().order_by('published', 'sequence') %}
    <li>
      <a href='{{gif.path}}'>
        <img src='{{gif.path}}.tn.gif' alt=''>
        <span>{{gif.title}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
