<nav>
  <ul class='links'>
    [[ sectile insert main_nav_latest.html ]]
    [[ sectile insert main_nav_sources.html ]]
    [[ sectile insert main_nav_tags.html ]]
    [[ sectile insert main_nav_about.html ]]
    [[ sectile insert main_nav_feeds.html ]]
  </ul>
  <ul class='years links'>
    {% for pubyear in global.publication_dates %}
      {% if year and pubyear.year.year == year.year %}
        <li><em>{{pubyear.year.year}}</em></li>
      {% else %}
        <li><a href='/{{pubyear.year.year}}/'>{{pubyear.year.year}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
