<svg id='atomfeed-icon' class='atomfeed' xmlns='http://www.w3.org/2000/svg' aria-label='RSS' role='img' viewBox='0 0 800 800'>
<defs>
  <linearGradient id='gradient' x1='0' x2='0' y1='0' y2='1'>
    <stop class='start' offset='0%' />
    <stop class='end'   offset='100%' />
  </linearGradient>
  <style>
    rect {
      stroke-width: 40;
      fill: #fff;
    }
    #outline {
      stroke: #f52;
      fill: url(#gradient);
    }
    .start {
      stop-color: #ffcf47;
    }
    .end {
      stop-color: #f7882e;
    }
    circle, path {
      stroke-width: 20;
      stroke: #f74;
      fill: #fff;
    }
  </style>
</defs>

<rect id='outline' width='760' height='760' x='20' y='20' rx='120' />
<circle cx='220' cy='580' r='100' />
<path
  d='
    M 210,300
    A 280 280 0 0,1 500,590
    L 390,590
    A 170 170 0 0,0 210,410
    L 210,300
    Z
  '
/>
<path
  d='
    M 210,120
    A 460 460 0 0,1 680,590
    L 570,590
    A 360 360 0 0,0 210,230
    Z
  '
/>
</svg>
